.secondary-stat {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.secondary-stat h5 {
    font-weight: normal;
}

.secondary-stat-values {
    width: 32%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: baseline;
    gap: 10px;
    margin-bottom: 5px;
}