.next-game {
    border-radius: 5px;
    margin-top: 25px;
    padding: 10px 20px;
    background-color: #f9f9f9;
    box-shadow: 0 10px 30px rgba(0,0,0,0.06);
    border: 2px solid rgba(255, 255, 255, 0.25);
}

.next-game-title {
    display: flex; 
    gap: 15px;
    align-items: baseline;
}

.next-game-title h3 {
    margin: 10;
    color: var(--color-accent);
    font-weight: normal;
    font-size: 1rem;
}

.next-game-title h4 {
    font-weight: normal;
}

.teams {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

.recent-games {
    margin-top: 20px;
}